label{
    font-family: mitr;
    background-color: #cfde81;
    width: 100%;
    padding: 5px;
}
th{
    padding: 5px;
    background-color: #cfde81;
}
table{
    margin: 0 !important;
}

input{
    margin-top: 0 !important;
    margin-bottom: 1em;
    border-radius: 0 !important;
}