.jaugeContent {
    margin: 25px;
}

.cluster2{
    position: relative;
    width: 50%;
    bottom: 20px;
    z-index: 2;
    transform: rotate(180deg);
    overflow: hidden;

}
.clusterLine2{
    width: 50%;
    position: relative;
    border: black solid 3px;
    border-radius: 125px;
}

.slider2 {
    -webkit-appearance: none;
    width: 100%;
    background: #d3d3d3;
    outline: none;
    opacity: 0;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
    bottom: -130px;
    z-index: 5;
    height: 90px;

}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: #c71010;
    cursor: pointer;
    border-radius: 20px;
}

.slider2::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: #ea3c3c;
    cursor: pointer;
}

